[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/opencontainers/runc"]
	path = vendor/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
